{% extends "views/_base/base.html" %}

{% block navigation %}
<nav class="cc-navigation">
	<a href="/" class="cc-back-link">&#8592; back to overview</a>
	<a href="/exercise-example-answer/" class="cc-answer-link">See answer &#8594;</a>
</nav>
{% endblock %}

{% block introduction %}
{# TODO: add title and description of exercise #}
<h1>[TITLE]</h1>
<p>[DESCRIPTION]</p>
{% endblock %}

{% block html %}
<section class="cc-html-playground">
	<div class="block" id="a"></div>
	<div class="scroll--container"><div class="scroll--content"></div></div>
</section>
{% endblock %}

{% block styles %}
<style type="text/css">
	.block {
		width: 200px;
		height: 200px;
		background-color: hotpink;
		border-radius: 5px;
		margin-bottom: 10px;
	}
	.scroll--container {
		width: 200px;
		height: 200px;
		border: 1px solid black;
		overflow: auto;
	}
	.scroll--content {
		height: 2000px;
	}
</style>
{% endblock %}

{% block scripts %}
<script language="javascript+animationworklet">
  registerAnimator('passthrough', class {
    animate(currentTime, effect) {
      effect.localTime = currentTime;
    }
  });
</script>
<script>
	if(!('animationWorklet' in CSS)) {
		document.write("You need AnimationWorklet to see this demo :(");
	}

	function urlFromTag(sel) {
		const el = document.querySelector(sel);
		if(!el) {
			throw new Error("Couldn't find element");
		}
		const blob = new Blob([el.textContent], {type: "text/javascript"});
		return URL.createObjectURL(blob);
	}

	async function init() {
		await CSS.animationWorklet.addModule(urlFromTag("script[language='javascript+animationworklet']"));

		new WorkletAnimation(
			'passthrough',
			new KeyframeEffect(
				document.querySelector('#a'),
				[
					{
						transform: 'translateX(0)'
					},
					{
						transform: 'translateX(500px)'
					}
				],
				{
					duration: 2000,
					fill: 'both'
				}
			),
			new ScrollTimeline({
				scrollSource: document.querySelector('.scroll--container'),
				orientation: "vertical", // "horizontal" or "vertical".
				timeRange: 2000
			})
		).play();
	}
	init();
</script>
{% endblock %}
