{% extends "views/_base/base.html" %}

{% block introduction %}
{# TODO: add title and description of code class #}
<h1>Overview</h1>

<p>Exercises and Examples</p>
{% endblock %}

{% block exercises %}
<h2>Exercises</h2>

<ul>
    <li><a href="/exercise-0">Syntax training</a></li>
    <li><a href="/exercise-1">Exercise 1</a></li>
    <li><a href="/exercise-2">Exercise 2</a></li>
</ul>

<h2>Examples</h2>

<ul>
    <li><a href="/sin-timeline">Sinus Wave Timeline Example</a></li>
    <li><a href="/paralax">Paralax (Scroll Timeline) Example</a></li>
</ul>
{% endblock %}
